.main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.with {
    text-transform: uppercase;
}
.ttu{
    position: relative;
    top:100px;

}
.color {
    position: relative;
    color: blue;
    left:350px;
    top: 41px;
}
.color_scd {
    position: relative;
    top: 300px;
    color: blueviolet;
    ttu
}
